<template>
  <div id="app">
    <div class="container my-auto">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
          <div class="content">
            <div class="row pb-2">
              <div class="col">
                <h1 class="title">Generate a zk-SNARK proof that you know a, b, c such that a&sup2; + b&sup2; = c&sup2;</h1>
              </div>
            </div>
            <div class="row" :class="{'pb-3': proof}">
              <div class="col">
                <form @submit.prevent="createProof">
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="a" class="col-form-label">a: </label>
                    </div>
                    <div class="col">
                      <input id="a" type="number" class="form-control" v-model="a">
                    </div>
                  </div>
                  <div class="row g-3 align-items-center pt-3">
                    <div class="col-auto">
                      <label for="a" class="col-form-label">b: </label>
                    </div>
                    <div class="col">
                      <input id="b" type="number" class="form-control" v-model="b">
                    </div>
                  </div>
                  <div class="row g-3 align-items-center pt-3">
                    <div class="col-auto">
                      <label for="c" class="col-form-label">c: </label>
                    </div>
                    <div class="col">
                      <input id="c" type="number" class="form-control" v-model="c">
                    </div>
                  </div>

                  <div class="d-grid gap-2 mt-3">
                    <button type="submit" class="btn btn-primary">Create new proof</button>
                    <div class="btn btn-primary" v-if="proof" @click="verifyProof">Verify proof</div>
                  </div>
                </form>
              </div>
            </div>

            <div class="row" v-if="verificationResult !== null">
              <div class="col">
                <p>Verification result:
                  <span v-if="verificationResult" class="text-success fw-bold">Correct proof!</span>
                  <span v-else class="text-danger fw-bold">Invalid proof!</span>
                </p>
              </div>
            </div>

            <div class="row" v-if="proof">
              <div class="col">
                <p>Output: {{ proof.publicSignals[0] }}</p>
                <p>Proof:</p>
                <pre>{{ JSON.stringify(proof.proof, null, 1) }}</pre>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      a: 0,
      b: 0,
      c: 0,
      proof: null,
      verificationResult: null
    }
  },
  methods: {
    async createProof() {
      this.proof = null;
      this.verificationResult = null;
      this.proof = await snarkjs.groth16.fullProve({a: this.a, b: this.b, c: this.c}, 'circuit/circuit.wasm', 'circuit/circuit.zkey', null);
    },
    async verifyProof() {
      if (!this.proof) return;
      this.verificationResult = null;
      const verificationKey = await fetch('circuit/verification_key.json')
          .then(res => res.json());
      this.verificationResult = await snarkjs.groth16.verify(verificationKey, this.proof.publicSignals, this.proof.proof, null);
    }
  }
}
</script>

<style lang="scss">
@import 'scss/app.scss';

html, body {
  height: 100%;
}

#app {
  display: flex;
  height: 100%;
}

.content {
  padding: 10px;
  border: 1px solid $primary;
  border-radius: 5px;
  background-color: #f8c3c0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  font-size: 1.5rem;
}
</style>
